
// GENERAL //

  @size: 13.5pt;
  @line: 17pt;
  @color1: black;

.puce(@margin, @top){
    .poss{
      font-family: 'ocr';
      width: 24pt;
      content: 'Ă';
      position: absolute;
      margin-top: @top;
      margin-left: calc(@margin - 16pt);
      background-repeat: no-repeat;
      background-position: center; 
      overflow: visible;
    }
    .En:before{
      background-image: url('../img/puce-black-en.svg');
      .poss;
    }
    .Nl:before{
      background-image: url('../img/puce-black-nl.svg');
      .poss;
    
    }
    .Fr:before{
      background-image: url('../img/puce-black-fr.svg');
      .poss;
    
    }
}

.puce-numb(@margin, @top){
    .poss{
      font-family: 'ocr';
      width: 16pt;
      content: 'Ă';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center; 
      overflow: visible;
    }
    ::before{
      background-image: url('../img/puce.svg');
      margin-left: calc(@margin - 16pt);
      margin-top: @top;
      .poss;
    }

    ::after{
      background-image: url('../img/puce.svg');
      margin-left: calc( @margin - 16pt);
      margin-top:  @top;
      .poss;
    }
}
.puce-white(@margin, @top){
    .poss{
      font-family: 'ocr';
      width: 16pt;
      content: 'Ă';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center; 
      overflow: visible;
    }
    h2::before, p::before{
      background-image: url('../img/puce_white.svg');
      margin-left: calc(@margin - 16pt);
      margin-top: @top;
      .poss;
    }

    h2::after, p::after{
      background-image: url('../img/puce_white.svg');
      margin-left: calc( @margin - 16pt);
      margin-top:  @top;
      .poss;
    }
}
.puce-black(@margin, @top){
    .poss{
      font-family: 'ocr';
      width: 16pt;
      content: 'Ă';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center; 
      overflow: visible;
    }
    h1::before{
      background-image: url('../img/puce.svg');
      margin-left: calc(@margin - 16pt);
      margin-top: @top;
      .poss;
    }

    h1::after{
      background-image: url('../img/puce.svg');
      margin-left: calc( @margin - 16pt);
      margin-top:  @top;
      .poss;
    }
}

    code{
      // display: none;
	font-family: 'ocr' !important;
	font-size: @size/1.2;
    }

// ARTICLE 
.article{
  color: @color1;
  line-height: @line;
  p{
    font-family: 'crimson';
    font-size: @size;
    // display: inline;
    margin: 0pt;
    margin-top: @line*0;
    overflow: visible;
  }
  p + P {
    // margin-top: @line*0;
    text-indent: @line*2;
  }
  h3 + h3{
    margin-top: @line*4;
  }
  small{
    font-size: @size/2;
  }
  h1{
    margin: 0pt;
    font-size: @size*1.5;
    line-height: @line*1.5;
    font-family: 'ocr';
    text-transform: uppercase;
  }
  
  span.end{
    width: 20pt;
    background-image:url('puce.svg');
    background-repeat: no-repeat;
    background-position: center; 
    padding: 0pt @line*1.5;
    color: white;
    overflow: visible;
  }
  blockquote{
    font-family: 'ocr' !important;
    // font-weight: normal;
  }
  .grid_1{
    outline: 1px solid red;
    background: red;
    // background-image: url('../layout/03_genese/img/B1-gradient-03.svg');
  }
  .inter{
    margin-top: @line/1.5;
    margin-bottom: @line/3;
    font-family: 'ocr';
    text-transform: uppercase;
    ::before{
      content:'  ';
    }
  }
}


// INTRO-ARTICLE 
.intro-article{
  line-height: @line*1.4;
  p{
    font-family: 'ocr';
    font-size: @size*1.5;
    // display: inline;
    margin: 0pt;
    margin-top: @line*0;
    text-align:center;
  }
  p + P {
    // margin-top: @line*0;
    text-indent: @line*2;
  }
  h3 + h3{
    margin-top: @line*2;
  }
  small{
    font-size: @size/2;
  }
  h1{
    margin: 0pt;
    font-size: @size*1.5;
    line-height: @line*1.5;
    font-family: 'ocr';
    text-transform: uppercase;
    // text-align: center;
  }
  
  .grid_1{
    outline: 1px solid red;
    background: red;
    // background-image: url('../layout/03_genese/img/B1-gradient-03.svg');
  }
  .bdp{
    font-size: @size/1.5;
    line-height: @line/1.5;
    font-family: 'ocr-Hovel';
  }
}

    em{
      color: red;
      font-style: oblique;
    }


// LAB 
.lab-article{
  line-height: @line*1;
  p{
    font-family: 'ocr';
    font-size: @size*1;
    // display: inline;
    margin: 0pt;
    margin-top: @line*0;
    text-align:right;
  }
  p + P {
    // margin-top: @line*0;
    text-indent: @line*2;
  }
  h3 + h3{
    margin-top: @line*2;
  }
  small{
    font-size: @size/2;
  }
  h1{
    margin: 0pt;
    font-size: @size*1;
    line-height: @line*1;
    font-family: 'ocr-long';
    text-transform: uppercase;
  }
  
  .bdp{
    font-size: @size/1.5;
    line-height: @line/1.5;
    font-family: 'ocr-Hovel';
  }
}
