@import '../../../css/main.less';

#flow-main h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;

}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
}

h1{
    span:nth-of-type(2){
      margin-left: 40pt;
    }
    span:nth-of-type(3){
      margin-left: 15pt;
    }
    span:nth-of-type(4){
      margin-left: 35pt;
    }
  .puce(30%, 6pt);
}

h3{
  .puce(70%,-12pt);
  .puce-numb(20%, 6pt);
}
img{
  display: none;
}
.paper:nth-child(odd) .body:before { content: "Peggy";}
body { counter-reset: folio 10;}


#page-4 .body::after{
  display: none;
}
