@import '../../../css/main.less';

#flow-main > h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}

#flow-main .bdp{
    -webkit-flow-into: flow-bdp;
            flow-into: flow-bdp;
}
.flow-bdp{
    -webkit-flow-from: flow-bdp;
            flow-from: flow-bdp;
}
#flow-main .dialog{
    -webkit-flow-into: flow-dialog;
            flow-into: flow-dialog;
}
.flow-dialog{
    -webkit-flow-from: flow-dialog;
            flow-from: flow-dialog;
    margin-bottom: -6pt;
}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
}

h1{
  .puce(70%, 22pt);
  // font-size: @size*2.2 !important;
  // line-height: @line*2.18!important;
}

h3{
  p{
    font-family: 'crimson' ! important;
    font-size: @size/1.4 !important;
    line-height: @line/1 !important;
    text-align: left !important;
  }
  .puce(-40pt, 60pt);
}

h3:nth-of-type(1){
  p{
    font-family: 'ocr' ! important;
    text-align: left !important;
  }
}

.dialog{
  font-family: 'ocr-long';
  font-size: @size/1.5;
  line-height: @line/1.5;
  h1{
    font-family: 'ocr-long';
    font-size: @size/1.75 !important;
    line-height: @line/1.5 !important;
    text-decoration: underline;
  }
  h2, h3{
    margin-left: @line;
    font-size: @size/1.75 !important;
    line-height: @line/1.5 !important;
  
  }
  p{
    width: 180pt;
    margin-left: @line*2;
    font-family: 'ocr-x1-y1';
    font-size: @size/1.5 !important;
    line-height: @line/1.5 !important;
    text-align: left;
  }
}
.paper:nth-child(odd) .body:before { content: "Labs";}
body { counter-reset: folio 50;}

#page-1 .body::after,
#page-1 .body::before
{
  display:none;
}
