@import '../../../css/main.less';

#flow-main h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;

}
#flow-main h3:nth-of-type(1) blockquote{
    -webkit-flow-into: flow-quote1;
            flow-into: flow-quote1;
}
.flow-quote1{
    -webkit-flow-from: flow-quote1;
            flow-from: flow-quote1;
}
#flow-main h3:nth-of-type(2) blockquote{
    -webkit-flow-into: flow-quote2;
            flow-into: flow-quote2;
}
.flow-quote2{
    -webkit-flow-from: flow-quote2;
            flow-from: flow-quote2;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;

}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
    overflow: visible;
}

h1{
    span:nth-of-type(1){
      margin-left: 40pt;
    }
    span:nth-of-type(2){
      margin-left: 80pt;
    }
    span:nth-of-type(3){
      margin-left: 2pt;
      // font-size: @size/1.5;
    }
  .puce(30%, 10pt);
}
h3{
  .puce(30%,-11pt);
  .puce-numb(15%, 7pt);
}

h3:nth-of-type(2){
  margin-left: - 40pt;

}

  img{
    display: none;
  }


.paper:nth-child(odd) .body:before { content: "Objects in Common";}
body { counter-reset: folio 46;}
