@import '../../../css/main.less';

#flow-main > h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}

#flow-main .bdp{
    -webkit-flow-into: flow-bdp;
            flow-into: flow-bdp;
}
.flow-bdp{
    -webkit-flow-from: flow-bdp;
            flow-from: flow-bdp;
}
#flow-main .dialog{
    -webkit-flow-into: flow-dialog;
            flow-into: flow-dialog;
}
.flow-dialog{
    -webkit-flow-from: flow-dialog;
            flow-from: flow-dialog;
}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
}

h1{
  font-size: 15pt !important;
  line-height: 11pt !important;
  letter-spacing: 0pt;
  // color: darkblue;
  // text-align: center
}

// h1{
//   margin: 0pt;
//   font-size: 20.25pt;
//   line-height: 15pt;
//   font-family: 'ocr';
//   text-transform: uppercase;
//   text-align: center
// }
h3{
  p{
    font-size: @size*1 !important;
    line-height: @line*1!important;
  }
  .puce(-40pt, 60pt);
}

.dialog{
  font-family: 'ocr-long';
  font-size: @size/1.5;
  line-height: @line/1.5;
  h1{
    font-family: 'ocr-long';
    font-size: @size/1.75 !important;
    line-height: @line/1.5 !important;
    text-decoration: underline;
  }
  h2, h3{
    margin-left: @line;
    font-size: @size/1.75 !important;
    line-height: @line/1.5 !important;
  
  }
  p{
    width: 180pt;
    margin-left: @line*2;
    font-family: 'ocr-x1-y1';
    font-size: @size/1.5 !important;
    line-height: @line/1.5 !important;
    text-align: left;
  }
}

.body::before,
.body::after
{
  display: none; 
}

#back p{
  font-size: @size;
  line-height: @line/1;
  text-align: left;
  // color: darkblue;
}
#back{
  .puce(460pt, 60pt);
}

