@import '../../../css/main.less';

#flow-main > h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}

#flow-main .bdp{
    -webkit-flow-into: flow-bdp;
            flow-into: flow-bdp;
}
.flow-bdp{
    -webkit-flow-from: flow-bdp;
            flow-from: flow-bdp;
}
#flow-main .dialog{
    -webkit-flow-into: flow-dialog;
            flow-into: flow-dialog;
}
.flow-dialog{
    -webkit-flow-from: flow-dialog;
            flow-from: flow-dialog;
	    // margin-bottom: -10pt;
}
#flow-main .encadre{
    -webkit-flow-into: flow-encadre;
            flow-into: flow-encadre;
}
.flow-encadre{
    -webkit-flow-from: flow-encadre;
            flow-from: flow-encadre;
}
 #flow-main {
     -webkit-flow-into: flow-main;
             flow-into: flow-main;
 }

 .flow-main{
     -webkit-flow-from: flow-main;
             flow-from: flow-main;
 	    margin-bottom: -6pt;
 }

h1{
  .puce(60%, 10pt);
  // font-size: @size*2.2 !important;
  // line-height: @line*2.18!important;
}

h3{
  p{
    font-size: @size*1 !important;
    line-height: @line*1!important;
  }
  .puce(0pt, 0pt);
  .puce-numb(20%, 6pt);
}

.fab{
  .puce-white(20%, 6pt);
  .puce-black(20%, 6pt);
}

h3:nth-of-type(1){

  p:nth-of-type(1){
    text-align: left;
    margin-left: @size*8;
  }
  p:nth-of-type(2){
    text-align: center;
    margin-right: @size*3;
  }
}

h3:nth-of-type(2){

  p:nth-of-type(1){
    text-align: center;
    margin-left: @size*2;
  }
  p:nth-of-type(2){
    margin-left: @size*6;
  }
}
h3:nth-of-type(3){

  p:nth-of-type(1){
    text-align: center;
    margin-right: @size*2;
  }
  p:nth-of-type(2){
    text-align: center;
    margin-left: @size*6;
  }
}
.dialog{
  font-family: 'ocr-long';
  font-size: @size/1.5;
  line-height: @line/1.5;
  h1{
    font-family: 'ocr-long';
    font-size: @size/1.75 !important;
    line-height: @line/1.5 !important;
    text-decoration: underline;
  }
  h2, h3{
    margin-left: @line;
    font-size: @size/1.75 !important;
    line-height: @line/1.5 !important;
  
  }
  p{
    width: 280pt;
    margin-left: @line*9;
    font-family: 'ocr-x1-y1';
    font-size: @size/1.5 !important;
    line-height: @line/1.5 !important;
    text-align: left;
  }
}

.paper:nth-child(odd) .body:before { content: "Repositories";}
body { counter-reset: folio 62;}
#page-1 .body::after,
#page-1 .body::before,
#page-10 .body::after,
#page-10 .body::before
{
  display:none;
}
