@import '../../../css/main.less';

.fig-loop (@i) when (@i > 0) {
  #flow-main figure:nth-of-type(@{i}) { .flow-into(~"flow-fig@{i}");  }
  .flow-fig@{i} { .flow-from(~"flow-fig@{i}");  }
  .fig-loop(@i - 1);
}
.fig-loop(12);

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
    overflow: visible;
}

h1{
    span:nth-of-type(1){
      margin-left: 20pt;
    }
    span:nth-of-type(2){
      margin-left: 0pt;
    }
    span:nth-of-type(3){
      margin-left: 0pt;
      font-size: @size/1.5;
    }
  .puce(70%, 10pt);
}
h3{
  .puce(30%,-11pt);
  
  .puce-numb(15%, 7pt);
}

h3:nth-of-type(2){
  margin-left: - 40pt;

}

.paper:nth-child(odd) .body:before { content: "Grigri Pixel";}
body { counter-reset: folio 20;}

.body::after,
.body::before
{
  display: none;
}

img{
  width: 100%;
  height: auto;
}

figcaption{
  font-family: 'ocr';
  font-size: @size/1.5;
}
