@import '../../../css/main.less';

#flow-main h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}

#flow-main .bdp{
    -webkit-flow-into: flow-bdp;
            flow-into: flow-bdp;
}
.flow-bdp{
    -webkit-flow-from: flow-bdp;
            flow-from: flow-bdp;
}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
}

h1{
  .puce(70%, -6pt);
}

h3{
  .puce(-40pt, 60pt);
}

.paper:nth-child(odd) .body:before { content: "Interactivos?";}
body { counter-reset: folio 14;}
