@import '../../../css/main.less';

#flow-main h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;

}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
}

h1{
    span:nth-of-type(1){
      margin-left: 30pt;
    }
    span:nth-of-type(2){
      margin-left: 50pt;
    }
    span:nth-of-type(3){
      margin-left: 0pt;
      font-size: @size/1.5;
    }
  .puce(20%, 6pt);
}
h3{
  .puce(50%,-11pt);
  
  .puce-numb(10%, 6pt);
}

h3:nth-of-type(2){
  margin-left: - 40pt;

}

  img{
    display: none;
  }




.paper:nth-child(odd) .body:before { content: "Interactivos?";}
body { counter-reset: folio 16;}

#page-4 .body::after{
  display: none;
}
